CalculatorService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.org/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.org/" schemaLocation="http://localhost:8080/CalculatorProject/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Multiply">
<part name="parameters" element="tns:Multiply"/>
</message>
<message name="MultiplyResponse">
<part name="parameters" element="tns:MultiplyResponse"/>
</message>
<message name="Subtract">
<part name="parameters" element="tns:Subtract"/>
</message>
<message name="SubtractResponse">
<part name="parameters" element="tns:SubtractResponse"/>
</message>
<message name="Divide">
<part name="parameters" element="tns:Divide"/>
</message>
<message name="DivideResponse">
<part name="parameters" element="tns:DivideResponse"/>
</message>
<message name="Add">
<part name="parameters" element="tns:Add"/>
</message>
<message name="AddResponse">
<part name="parameters" element="tns:AddResponse"/>
</message>
<portType name="CalculatorService">
<operation name="hello">
<input wsam:Action="http://calculator.org/CalculatorService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://calculator.org/CalculatorService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Multiply">
<input wsam:Action="http://calculator.org/CalculatorService/MultiplyRequest" message="tns:Multiply"/>
<output wsam:Action="http://calculator.org/CalculatorService/MultiplyResponse" message="tns:MultiplyResponse"/>
</operation>
<operation name="Subtract">
<input wsam:Action="http://calculator.org/CalculatorService/SubtractRequest" message="tns:Subtract"/>
<output wsam:Action="http://calculator.org/CalculatorService/SubtractResponse" message="tns:SubtractResponse"/>
</operation>
<operation name="Divide">
<input wsam:Action="http://calculator.org/CalculatorService/DivideRequest" message="tns:Divide"/>
<output wsam:Action="http://calculator.org/CalculatorService/DivideResponse" message="tns:DivideResponse"/>
</operation>
<operation name="Add">
<input wsam:Action="http://calculator.org/CalculatorService/AddRequest" message="tns:Add"/>
<output wsam:Action="http://calculator.org/CalculatorService/AddResponse" message="tns:AddResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/CalculatorProject/CalculatorService"/>
</port>
</service>
</definitions>